.app {
	margin-top: 40px;
	background-color: #F8F9F9;
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
	border-radius: 8px;	
	margin-right: 5%;
	margin-left: 5%;
}

.form {
	padding: 8%;
	padding-top: 4%;
}

.form-submit-btn {
	float: right;
}

ul {
	list-style-type: none;
}